---
interface Props {
  sponsor: {
    name: string;
    url: string;
    image: string;
    description: string;
  };
}

const { sponsor } = Astro.props;
---

<a
  href={sponsor.url}
  class="bg-gray-50 p-2 rounded w-full flex flex-col justify-center items-center mb-2
         text-zinc-600 hover:opacity-80 hover:text-blue-600 hover:underline"
  target="_blank"
  rel="noopener sponsored"
>
  <img
    class="w-auto max-w-full rounded"
    src={sponsor.image}
    alt={sponsor.name}
    loading="lazy"
  />
  <span class="text-xs mt-2">{sponsor.name}: {sponsor.description}</span>
</a>
